.job-scan-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #fff;
  padding: 12px 12px;
  border: 1px solid #eee;
  z-index: 1000000;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.04);
  color: #333;
  word-break: break-all;
}
.job-scan-box .job-scan-header {
  padding-bottom: 12px;
}
.job-scan-box .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  color: #ddd;
}
.job-scan-box .job-scan-body {
  overflow: auto;
  width: 700px;
  height: 500px;
}